[submodule "docs/wiki"]
	path = docs/wiki
	url = https://github.com/holgerimbery/mate.wiki.git
[submodule "enterprise/mate-enterprise"]
	path = enterprise/mate-enterprise
	url = https://github.com/holgerimbery/mate-enterprise.git
